{% extends 'base.html.twig' %}

{% block title %}New Bordereau Livraison{% endblock %}

{% block body %}
    <h1><center>Create new Bordereau Livraison</center></h1>

    {{ include('bordereau_liv/_form.html.twig') }}

    <a href="{{ path('bordereau_liv_index') }}">back to list</a>
{% endblock %}
