{% extends 'base.html.twig' %}

{% block title %}New Facture Livraison Intrant{% endblock %}

{% block body %}
    <h1><center>Create new Facture Livraison Intrant</center></h1>

    {{ include('facture_liv_int/_form.html.twig') }}

    <a href="{{ path('facture_liv_int_index') }}">back to list</a>
{% endblock %}
