{% extends 'base.html.twig' %}

{% block title %}Edit Ticket De Pesée{% endblock %}

{% block body %}
    <h1><center>Edit Ticket De Pesée</center></h1>

    {{ include('ticket_pesee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ticket_pesee_index') }}">back to list</a>

    {{ include('ticket_pesee/_delete_form.html.twig') }}
{% endblock %}
