{% extends 'base.html.twig' %}

{% block title %}New Tickets De Pesées{% endblock %}

{% block body %}
    <h1><center>Create new Tickets De Pesées</center></h1>

    {{ include('ticket_pesee/_form.html.twig') }}

    <a href="{{ path('ticket_pesee_index') }}">back to list</a>
{% endblock %}
