{% extends 'base.html.twig' %}

{% block title %}Edit Besoin{% endblock %}

{% block body %}
    <h1>Edit Besoin</h1>

    {{ include('besoin/_form.html.twig', {'button_label': 'Update'}) }}
   


    {{ include('besoin/_delete_form.html.twig') }}
        <a href="{{ path('besoin_index') }}" class="btn btn-warning">back to list</a>

{% endblock %}
