{% extends 'base.html.twig' %}

{% block title %}New Facture Globale{% endblock %}

{% block body %}
    <h1><center>Create new Facture Globale</center></h1>

    {{ include('facture_globale/_form.html.twig') }}

    <a href="{{ path('facture_globale_index') }}">back to list</a>
{% endblock %}
